<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<h1 id="">Riaktor</h1>
<div id="flash">{{.Message}}</div>
<form id="jsonForm" action="/new" method="POST" enctype="application/json">
  <div>
    <label for="type">Type</label><br>
    <input value="Soda" name="type" type="text" /><br>
    <label for="key">Key</label><br>
    <input value="lemon-lime-sprite-soda" name="key" type="text" /><br>
    <label for="data">Data (json)</label><br>
    <textarea id="jsonBody" name="data" rows="20" cols="80">
{
  "sugar_free": "false",
  "flavor": "lemon-lime",
  "brand": "Sprite",
  "id": 1
}
    </textarea>
  </div>
  <div><input type="submit" value="Save"></div>
</form>

<script type="text/javascript">
$("#jsonForm").submit(function(e) {
  $.ajax({
    contentType: 'application/json',
    dataType: 'json',
    data: jsonData,
    async: false,
    success: function(data) {
      console.log(data)
    },
    error: function(data) {
      console.log(data)
    }
  })
}
</script>