<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<h1 id="">Riaktor</h1>
<div id="flash">{{.Message}}</div>
<form id="jsonForm" action="/new" method="POST" enctype="application/json">
  <div>
    <textarea id="jsonBody" name="body" rows="20" cols="80">
{
  "type": "Post",
  "data": {
    "title": "Hello World!",
    "content": "Lorem ipsum dolor...",
    "author": "Aaron Lifton",
    "id": 1
  }
}
    </textarea>
  </div>
  <div><input type="submit" value="Save"></div>
</form>

<script type="text/javascript">
$("#jsonForm").submit(function(e) {
  $.ajax({
    contentType: 'application/json',
    dataType: 'json',
    data: jsonData,
    async: false,
    success: function(data) {
      console.log(data)
    },
    error: function(data) {
      console.log(data)
    }
  })
}
</script>